html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* <nav-btn> */

.nav-btn {
    margin-left: 1100px;
    margin-top: 50px;
    font-size: 50px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;

}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }

}

/* end btn */
.img1 {
    margin-left: 100px;
    margin-top: 60px;

}

/* START SECTION 1 */




.h1-s1 {

    position: relative;
    top: 150px;
    font-size: 80px;
    margin-left: 220px;
    color: white;
}

.h2-s1 {

    margin-left: 30px;
}

.div1-s1 {
    border: solid whitesmoke;
    background-color: whitesmoke;
    width: 550px;
    border-radius: 20%;
    margin-top: 350px;
    margin-left: 200px;
    color: aqua;
}

.section-1 {
    background-image: url("./IMAGES/vvv-min.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 1000px;
    margin-left: 250px;
}

.p1-s1 {
    margin-left: 650px;
    margin-top: -100px;
    font-size: 25px;
}

.p1-s1::after {
    content: "Freepik";
    text-decoration: underline;
}

/* END SECTION 1  */


/* START SECTION 2 */

.h1-s2 {
    width: 700px;
    margin-top: 200px;
    font-size: 40px;
    margin-left: 450px;

}


/* start divs1-s2" */

.divs1-s2 {
    margin-left: 100px;
}


.div2-a {

    background-color: whitesmoke;
    margin-left: 1000px;
    border-radius: 6%;
    width: 320px;
    height: 400px;
    margin-top: 100px;


}

.h2-s2 {
    width: 350px;

}

.p1-s2 {
    width: 200px;
    font-size: 20px;
    font-style: italic;
    margin-left: 50px;
    line-height: 45px;
}

.h3-s2 {
    text-decoration: underline;
    margin-top: 50px;
    margin-left: 30px;

}

.div2-b {
    border: solid;
    background-color: red;
    color: white;
    border-radius: 6%;
    margin-top: -400px;
    width: 320px;
    height: 400px;
    margin-left: 650px;

}

.div2-c {
    border: solid;
    width: 320px;
    height: 400px;
    border-radius: 6%;
    background-color: aqua;
    color: white;
    margin-top: -400px;
    margin-left: 300px;
}

.div2-d {
    border: solid whitesmoke;
    width: 320px;
    height: 400px;
    border-radius: 6%;
    margin-left: -80px;
    margin-top: -400px;
}


/* end divs1-s2" */

/* END SECTION 2 */


/* STAR SECTION 3 */

.section-3 {
    background-color: aqua;
    height: 800px;
}

.h1-s3 {
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.h2-s3 {
    text-align: center;
    color: white;
}


.h4-s3 {
    text-align: center;
    color: white;
}

.h4-s3::after {
    content: " Freepik";
    text-align: center;
    text-decoration: underline;
}


/* START DIVS1-S3  */
.img50 {
    width: 350px;
    height: 250px;
    margin-left: 30px;
}


.div2-s3 {
    border: solid whitesmoke;
    background-color: white;
    width: 430px;
    height: 490px;
    border-radius: 10%;
    margin-left: 1000px;
}

.div3-s3 {
    border: solid whitesmoke;
    width: 430px;
    height: 490px;
    border-radius: 10%;
    margin-left: 520px;
    margin-top: -490px;
    background-color: white;
}

.div4-s3 {
    border: solid whitesmoke;
    width: 430px;
    height: 490px;
    border-radius: 10%;
    margin-top: -490px;
    margin-left: 50px;
    background-color: white;


}

.h5-s3 {
    color: orange;
    margin-left: 40px;
}

.h6-s3 {
    margin-left: 45px;
}

/* END DIVS1-S3  */

/* END SECTION 3 */


/* START SECTION 4 */

/* START DIVS1 SECTION 4 */

.div1-s4 {
    border: solid aqua;
    background-color: aqua;
    color: white;
    width: 250px;
    height: 220px;
    margin-left: 1000px;
    margin-top: 70px;
    border-radius: 10%;

}

.div2-s4 {
    border: solid red;
    background-color: red;
    color: white;
    width: 250px;
    height: 220px;
    border-radius: 10%;
    margin-left: 1000px;
    margin-top: 20px;
}

.div3-s4 {
    border: solid gray;
    background-color: gray;
    color: white;
    width: 250px;
    height: 220px;
    border-radius: 10%;
    margin-top: -470px;
    margin-left: 720px;

}

.div4-s4 {
    border: solid aqua;
    background-color: aqua;
    color: white;
    width: 250px;
    height: 220px;
    border-radius: 10%;
    margin-left: 720px;
    margin-top: 20px;

}




.h1-s4 {
    font-size: 55px;
    margin-left: 60px;
}

.p1-s4 {
    font-size: 17px;
    width: 220px;
    margin-top: 30px;
    margin-left: 15px;
}


/*  END DIVS1 SECTION 4  */

.h5-s4 {
    margin-top: -400px;
    margin-left: 300px;
    opacity: 0.4;
}

.h6-s4 {
    font-size: 40px;
    width: 330px;
    margin-left: 230px;
}

.h7-s4 {
    width: 500px;
    margin-left: 150px;
    opacity: 0.4;
}

.p4-s4 {
    width: 400px;
    margin-top: 30px;
    margin-left: 170px;
    opacity: 0.7;
}

/* END SECTION 4  */

.div1-s5 {
    border: solid whitesmoke;
    width: 450px;
    border-radius: 10%;
    margin-left: 750px;
    margin-top: 100px;
}

.img60 {
    width: 70px;
    margin-left: 50px;
}

.p1-s5 {
    width: 300px;
    line-height: 30px;
    font-size: 24px;
    margin-left: 45px;

}

.h1-s5 {
    width: 450px;
    margin-left: 750px;
    color: orange;
}

.p2-s5 {
    width: 400px;
    margin-left: 750px;
}

.h2-s5 {
    margin-left: 750px;
    margin-top: 20px;
    background-color: black;
    color: #fff;
    width: 200px;
    border-radius: 20%;
}

.img70 {
    width: 350px;
    margin-top: 100px;
    margin-left: 100px;

}

.h5-s5 {
    width: 550px;
    margin-top: 50px;
    margin-left: 100px;
}

.p5-s5 {
    width: 450px;
    margin-left: 100px;
}

.h6-s5 {
    margin-left: 100px;
}

.h6-s5::after {
    content: " Freepik";
    text-decoration: underline;
}

.divss-s5 {
    margin-top: -600px;
}

/* END SECTION 5 */


/* START SECTION 6 */

.section-6 {
    background-color: red;
}

.divs1-s6 {
    margin-left: 70px;
}

.div1-s6 {
    border: solid whitesmoke;
    background-color: white;
    margin-left: 700px;
    border-radius: 10%;
    width: 550px;
    height: 330px;
}

.div2-s6 {
    border: solid whitesmoke;
    background-color: white;
    border-radius: 10%;
    width: 550px;
    height: 330px;
    margin-left: 710px;
    margin-top: 30px;
}

.div3-s6 {
    border: solid whitesmoke;
    background-color: white;
    border-radius: 10%;
    width: 550px;
    height: 330px;
    margin-top: -700px;
    margin-left: 100px;

}

.div4-s6 {
    border: solid whitesmoke;
    background-color: white;
    border-radius: 10%;
    width: 550px;
    height: 330px;
    margin-top: 50px;
    margin-left: 100px;
}

.h1-s6 {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 45px;
}

.img80 {
    margin-top: 20px;
    width: 200px;
    margin-left: 20px;
}

.p1-s6 {
    width: 260px;
    font-size: 18px;
    line-height: 25px;
    margin-left: 250px;
    margin-top: -210px;
}

.h2-s6 {
    margin-left: 250px;
    margin-top: 30px;
}

.h3-s6 {
    margin-left: 250px;
    opacity: 0.7;
}


/* END SECTION 6 */


/* START SECTION 7 */

.imgaa {
    width: 500px;
    height: 450px;
    margin-left: 700px;
    margin-top: 100px;
}

.h1-s7 {
    font-size: 60px;
    width: 550px;
    margin-top: -400px;
    margin-left: 300px;
}

.p1-s7 {
    width: 380px;
    line-height: 30px;
    font-size: 25px;
    margin-left: 300px;
}

.h2-s7 {
    margin-top: 20px;
    margin-left: 330px;
}

.h3-s7 {
    width: 180px;
    background-color: black;
    color: white;
    border-radius: 20%;
    margin-left: 300px;
}

/* END SECTION 7 */


/* START SECTION 8 */


.img-s8 {
    height: 500px;
    width: 1500px;

}

form{
    margin-left: 800px;
    background-color: aqua;
    color: white;
    width: 500px;
    height: 500px;
}

.input1 {
    width: 250px;
    height: 40px;
}

.input2 {
    width: 250px;
    height: 40px;
}






.link {
    text-decoration: none;
    font-size: 30px;
    background-color: red;
    color: white;

}


.div2-s8{
    border: solid whitesmoke;
    border-radius: 10%;
    margin-top: -500px;
    margin-left: 250px;
    width: 500px;
    height: 500px;
}
.h2-s8{
    font-size: 50px;
    margin-left: 20px;
}

.p2-s8{
    width: 400px;
    font-size: 18px;
    line-height: 25px;
    margin-left: 20px;
}

.p3-s8{
    font-size: 18px;
    margin-left: 20px;
}

.h5-s8{
    margin-left: 80px;
    margin-top: -50px;
}

.p5-s8{
    margin-top: 20px;
    margin-left: 60px;
    width: 300px;
    font-style: italic;

}

.img2-s8{
    width: 50px;
}

.h6-s8{
    margin-top: -40px;
    margin-left: 50px;
}

.p6-s8{
    margin-top: -15px;
    margin-left: 50px;
    font-style: italic;
}

/* END SECTION 8 */


/* START SECTION 9  */

.section-9{
    margin-top: 400px;
    background-color: black;
    color: white;
    
}

.h1-s9{
    margin-left: 500px;
    padding-top: 50px;
}


.div1-s9{
    margin-top: 100px;
    margin-left: 500px;
}